<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bmp_gamecenter_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bmp_gamecenter_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PM_GameCenter"
        tools:targetApi="31">
        <activity
            android:name=".menus.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menus.IdentificationScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menus.IdentificationFormScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menus.HubScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menus.LeaderboardsScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menus.SettingsScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".game2048.Game2048Screen"
            android:exported="true">
        </activity>
        <activity
            android:name=".gameSenku.GameSenkuScreen"
            android:exported="true">
        </activity>
    </application>

</manifest>